<a href="https://colab.research.google.com/github/ybaris/DATA-601-Assignments/blob/master/Getting_Fake_Data_Assignment_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python notebook that generates a file containing the following data:​ ​

- Email addresses​. Must have an "@"
- Phone numbers​
- Home Address​
- Person's name​
- Year born. Use realistic values.​
- Number of kids. Use realistic values.​
- Categorical variable: rent or own?​
- Annual income. Optional challenge: Use a non-uniform distribution​
- Number of speeding tickets in past year. Optional challenge: Use a non-uniform distribution​

The user of your notebook should be able to specify how many entities are to be generated.​ ​

​Do not include the .csv output file in your submission -- the file should be generated dynamically.

Order of columns in CSV is not relevant. ​

In [79]:
# installation of faker to get random data
pip install faker

SyntaxError: ignored

In [80]:
# trials
from faker import Faker 
import pandas as pd 

faker = Faker()
df = pd.DataFrame()

for i in range(2):
    df = df.append(faker.profile(), ignore_index=True)
print(faker.profile(["address"]))
df

{'address': 'PSC 0665, Box 3182\nAPO AE 46905'}

                                      address  ...                                            website
0            PSC 9157, Box 2944\nAPO AA 93324  ...  [http://www.allen.net/, http://andersen-bradle...
1  001 Denise Ranch\nEast Karenland, MI 22053  ...  [https://www.bridges-huynh.info/, https://thom...

[2 rows x 13 columns]

## Solution for the assignment

In [81]:
import random 

address_list = []
mail_list = []
name_list = []
birthdate_list = []
phone_list = []
child_list = []
house_list = []
income_list = []
speed_ticket_list = []

# number of user data can be changed here.
for i in range(0,100): 
    address_list.append(faker.profile(["address"])["address"])
    mail_list.append(faker.profile(["mail"])["mail"])
    name_list.append(faker.profile(["name"])["name"])
    birthdate_list.append(faker.profile(["birthdate"])["birthdate"])
    phone_list.append(faker.phone_number())
    child_list.append(random.randint(0,15))
    house_list.append(faker.random_element(elements=('rent', 'own')))
    income_list.append(random.randint(40000, 500000))
    speed_ticket_list.append(random.randint(0, 10))

In [82]:
a = pd.DataFrame()

In [83]:
a["address"] = address_list
a["mail"] = mail_list
a["name"] = name_list
a["birthdate"] = birthdate_list
a["phone"] = phone_list
a["number of children"] = child_list
a["status of the house"] = house_list
a["income($)"] = income_list
a["number of speeding tickets in the past year"] = speed_ticket_list

In [84]:
a

                                              address  ... number of speeding tickets in the past year
0                    Unit 8084 Box 1647\nDPO AE 54492  ...                                           7
1     297 Melissa Branch\nPort Cassidymouth, MD 05322  ...                                           9
2           613 Griffith Run\nSouth Jessica, MA 98785  ...                                           9
3                           USNS Bryant\nFPO AP 42233  ...                                           0
4         25201 Nicole Springs\nPort Andrew, HI 92716  ...                                           8
..                                                ...  ...                                         ...
95  34427 Justin Union Suite 874\nEast Gabriel, NC...  ...                                           8
96         0221 Joseph Lights\nNew Danafort, CT 85673  ...                                           4
97  3386 Price Pine Apt. 461\nNorth Theresa, GA 23856  ...                                           1
98  4927 Carolyn Islands Apt. 134\nNew Christopher...  ...                                           5
99  390 Palmer Plains Apt. 554\nWilliamstown, IN 9...  ...                                           6

[100 rows x 9 columns]

## Build up

### Address list

In [85]:
address_list = []

for i in range(0,3): 
    x = faker.profile(["address"])
    while x in address_list:
        x = faker.profile(["address"])
    address_list.append(x)

address_list

[{'address': '3955 Daniel Drives\nSouth Kellybury, WA 89545'},
 {'address': '629 Wheeler Plains Apt. 739\nKochstad, KY 08615'},
 {'address': 'Unit 7841 Box 3591\nDPO AP 47724'}]

### email list

In [86]:
mail_list = []

for i in range(0,3): 
    m = faker.profile(["mail"])
    while m in address_list:
        m = faker.profile(["mail"])
    mail_list.append(m)

mail_list

[{'mail': 'ydawson@hotmail.com'},
 {'mail': 'jdavis@gmail.com'},
 {'mail': 'virginia07@gmail.com'}]

### Name list

In [87]:
name_list = []

for i in range(0,3): 
    n = faker.profile(["name"])
    while n in name_list:
        n = faker.profile(["name"])
    name_list.append(n)

name_list

[{'name': 'Maureen Castaneda'},
 {'name': 'Michael Steele'},
 {'name': 'Amanda Rodriguez'}]

### Birthdate list

In [88]:
birthdate_list = []

for i in range(0,3): 
    b = faker.profile(["birthdate"])
    while b in birthdate_list:
        b = faker.profile(["birthdate"])
    birthdate_list.append(b)

birthdate_list

[{'birthdate': datetime.date(1925, 3, 18)},
 {'birthdate': datetime.date(1925, 9, 2)},
 {'birthdate': datetime.date(1926, 6, 9)}]

### Phone list

In [89]:
phone_list = []

for i in range(0, 3): 
    p = faker.phone_number()
    while p in phone_list:
        p = faker.phone_number()
    phone_list.append(p)

phone_list

['783.666.2414', '1072867877', '0837560726']

### Number of child list

In [90]:
import random

child_list = []
for i in range(0,4):
    c = random.randint(0, 15)
    child_list.append(c)

child_list

[10, 2, 13, 6]

### House list

In [91]:
house_list = []

for i in range(0, 4): 
    h = faker.random_element(elements=('rent', 'own'))
    house_list.append(h)

house_list

['own', 'own', 'own', 'own']

### Income list

In [92]:
import random 

income_list = []
for i in range(0,4):
    a = random.randint(40000, 500000)
    income_list.append(a)

income_list

[161130, 296540, 247695, 449099]

### Speeding ticket list

In [93]:
import random 

speed_ticket_list = []
for i in range(0,4):
    s = random.randint(0, 10)
    speed_ticket_list.append(s)

speed_ticket_list

[4, 9, 6, 10]